* {
    margin: 0px;
    padding: 0px;
    /* outline: solid 1px pink; */
    font-family: sans-serif;
}

.wrapper {
    margin: 0px auto;
    background-color: lightgray;
    width: 970px;
    text-align: center;
    padding: 100px  0  420px 0;
}

form{
    display: inline-block;
    border: 3px solid pink;
    background-color: darkgrey;
    padding: 20px;
    margin-right: 10px;
}
body{
    background-color: lightsteelblue;
}
img{
    width: 500px;
    height: 300px;
}